.ipynb_checkpoints/
tutorials/.ipynb_checkpoints
tutorials/scatter_test.html
.kdev4/
.vscode/
doc/_build/
doc/_static
doc/_templates
mol_frame/temp.py
mol_frame/resource_paths.py
*.pkl
*.mrv
*.mol
*.pyc
branch_info.txt
commit_msg.txt
snippets.txt
tags
